    {% extends "blog/base.html" %}

    {% block content %}
        {% for post in posts %}
            <div class="post">
                <div class="date">
                    {{ post.published_date }}
                </div>
                <h1>{{ post.title }}</h1>
                <p>{{ post.text|striptags|truncatewords:"30"|safe|linebreaks }}</p>
                <p></p><a href="{% url "post_detail" pk=post.pk %}">Читать далее...</a>
            </div>
        {% endfor %}
    {% endblock content %}
